<h1> <strong>Showing article details <h1>
By User: <%= @article.user.username %>
<p><strong>Title: </strong><%= @article.title %></p>
<p><strong>Description: </strong><%= @article.description %></p>
<% if logged_in? && (@article.user == current_user || current_user.admin?)  %>
    <%= link_to 'Edit', edit_article_path(@article) %> |
    <%= button_to 'Delete', article_path(@article), method: :delete, :onclick=> "return confirm('Are you sure you want to delete this item?')" %> |
<% end %>
<%= link_to 'Return to articles listing', articles_path %>
