<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to "ALPHA BLOG", root_path, class:"navbar-brand", id: "logo" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <%= link_to "Articles", articles_path, class: "nav-link" %>
                <%= link_to "Bloggers", users_path, class: "nav-link" %>
                <%= link_to "Categories", categories_path, class: "nav-link" %>
                <% if logged_in? %>
                    <li class="nav-item">
                        <% if current_user.admin? %>
                            <%= link_to current_user.username, user_path(current_user), class: "nav-link" %>
                            <%= link_to 'Admin' ,user_path(current_user), class: "nav-link" %> 
                        <% else %>
                            <%= link_to current_user.username, user_path(current_user), class: "nav-link" %>
                        <% end %>
                    </li>
                    <li class="nav-item">
                        <%= button_to "Delete profile", user_path(current_user), class: "nav-link" ,method: :delete, :onclick=> "return confirm('Are you sure you want to delete this item?')" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to 'Logout', logout_path, class: "nav-link", method: :delete %>
                    </li>
                <% else %>
                    <li class="nav-item">
                        <%= link_to 'Log in', login_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to 'Sign up', signup_path, class: "nav-link" %>
                    </li>
                <% end %>
            </li>
        </ul>
    </div>
</nav>